CSV_FOLDER_PATH=/path/data/csv_from_seq/data_with_lang

ANALYSIS_LANGS_FOLDER_PATH=/path/data/analysis/freq/langs

ARTICLES_CSV_FOLDER_PATH=/path/data/csv_from_seq/articles

ARTICLES_ANALYSIS_FOLDER_PATH=/path/data/analysis/freq/collections


JOURNALS_CSV_FOLDER_PATH=/path/data/csv_from_seq/journal

JOURNALS_ANALYSIS_FOLDER_PATH=/path/data/analysis/freq/journal


LANG_COL_CSV_FOLDER_PATH=/path/data/csv_from_seq/data_with_lang

LANG_COL_ANALYSIS_FOLDER_PATH=/path/data/analysis/freq
