CSV_FOLDER_PATH=/path/datasets/source/csv_from_seq/data_with_lang

ANALYSIS_LANGS_FOLDER_PATH=/path/datasets/analysis/freq/langs

ARTICLES_CSV_FOLDER_PATH=/path/datasets/source/csv_from_seq/articles

ARTICLES_ANALYSIS_FOLDER_PATH=/path/datasets/analysis/freq/collections


JOURNALS_CSV_FOLDER_PATH=/path/datasets/source/csv_from_seq/journal

JOURNALS_ANALYSIS_FOLDER_PATH=/path/datasets/analysis/freq/journal


LANG_COL_CSV_FOLDER_PATH=/path/datasets/source/csv_from_seq/data_with_lang

LANG_COL_ANALYSIS_FOLDER_PATH=/path/datasets/analysis/freq

AREAS_FILE_PATH=/path/datasets/analysis/freq/journal/title_study_areas_classifications.csv

JOURNAL_AREAS_FILE_PATH=/path/datasets/source/csv_from_seq/journal/title_study_areas.csv

JOURNAL_AREAS_1_FILE_PATH=/path/datasets/analysis/journal/study_areas_1.csv
JOURNAL_AREAS_2_FILE_PATH=/path/datasets/analysis/journal/study_areas_2.csv
JOURNAL_AREAS_3_FILE_PATH=/path/datasets/analysis/journal/study_areas_3.csv
JOURNAL_AREAS_4_FILE_PATH=/path/datasets/analysis/journal/study_areas_4.csv
JOURNAL_AREAS_5_FILE_PATH=/path/datasets/analysis/journal/study_areas_5.csv


KEYWORDS_SOURCE_CSV_PATH=/path/datasets/source/fixed_csv_from_seq/data_with_lang/keywords_fixed.csv
KEYWORDS_ANALYSIS_FOLDER_PATH=/path/datasets/analysis/keywords


# Abstracts analysis
ABSTRACTS_SOURCE_FILE_PATH=/path/datasets/source/csv_from_seq/data_with_lang/abstracts.csv
ABSTRACTS_ANALYSIS_FOLDER_PATH=/path/datasets/analysis/abstracts
LABELED_ABSTRACTS_FILE_PATH=/path/datasets/analysis/abstracts/labeled_abstracts.csv

# References analysis
JOURNAL_ONLY_ONE_SUBJECT_AREA_FILE_PATH=/path/datasets/analysis/journal/only_one_subject_area_journals.csv
REFERENCES_SOURCE_FILE_PATH=/path/datasets/source/csv_from_seq/references/references.csv
REFERENCES_ANALYSIS_FOLDER_PATH=/path/datasets/analysis/references
REFERENCES_WITH_SUBJECT_AREA_AND_ISSN_ID_FILE_PATH=/path/datasets/analysis/references/references_with_subject_area_and_issn_id.csv